@font-face {
    font-family: "MyFont";
    src: url("./font/Roboto.zip");
    font-family: "Roboto" src(url("./font/Arimo\,Roboto\,Smooch_Sans\,Space_Grotesk/"));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MyFont";
}

:root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --dark-red: #cc0000;
    --roboto: url(./font/Smooch_Sans/);

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--black);
    padding: 15px 20px;
    width: 100%;
}

.navbar .srch {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navbar .srch .explr {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.navbar .srch .explr h3 {
    color: var(--white);
    text-transform: capitalize;
    font-size: 26px;
}

.navbar .srch .explr i {
    color: var(--white);
    font-size: 12px;
    width: 5px;
    height: 5px;
}

.navbar .srch input {
    padding: 5px;
    border: none;
    color: var(--black);
    border-radius: 0px;
    background-color: var(--black);
    border: 1px solid var(--white);
}

.navbar .logo img {
    width: 50px;
    height: 50px;
}

.navbar .links ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding-top: 2%;
}

.navbar .links a {
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

.navbar .links ul li i {
    color: var(--white);
    font-size: 16px;
    width: 5px;
    height: 5px;
}

.space {
    display: flex;
    flex-direction: row;
}

.hide {
    display: none;
}

.responsive-icon {
    color: var(--white);
    font-size: 26px !important;
}

.live {
    color: var(--white);
    border: 1px solid var(--red);
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    margin-top: 6%;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
}

.live:hover {
    background-color: var(--red);
    color: var(--white);
}

@media only screen and (max-width: 950px) {
    .navbar {
        max-width: 950px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hide-2 {
        display: none;
    }

    .show-2 {
        display: block;
    }
}

/* Hero Section */
.hero-section {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0)), url("./NASA-pictures/bg-her-section.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
    background-color: var(--black);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 7%;
    color: #fff;
    width: 50%;
    height: 80%;
}

.content h3 {
    font-family: var(--roboto);
    font-size: 70px;
    text-transform: uppercase;
    text-align: start;
}

.content p {
    text-align: left;
    font-size: 18px;
    width: 100%;
}

.content button {
    padding: 10px 20px;
    border: none;
    color: var(--white);
    border-radius: 5px;
    background-color: var(--red);
    border: 1px solid var(--red);
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    width: fit-content;
    font-size: 20px;
}

.content button:hover {
    background-color: var(--dark-red);
    color: var(--white);
}

.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.content-2 p {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 7%;
    color: var(--white);
    width: fit-content;
}

.content-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.content-3 p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 7%;
    color: var(--white);
    width: fit-content;
}

.content-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.content-4 p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 7%;
    color: var(--white);
    width: fit-content;
}

.down-side {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.down-side i {
    color: var(--white);
    background-color: var(--red);
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 3px;
    margin-top: 8%;
    cursor: pointer;
    transition: 0.3s;
}

.down-side i:hover {
    background-color: var(--dark-red);
    color: var(--white);
}

.uppercase {
    text-transform: uppercase;
    width: max-content;
}

.down-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 20px;
    padding-top: 2%;
    padding-left: 0px;
    color: var(--white);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.down-content .text {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.down-content .pause {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    /* justify-content: center; */
    margin-right: 5%;
    padding-top: 3%;
}

.down-content .pause img {
    width: 50px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.down-content .pause i {
    font-size: 45px;
    cursor: pointer;
    background-color: gray;
    border-radius: 50%;
}

@media only screen and (max-width: 990px) {
    .content h3 {
        font-size: 40px;
    }

    .pause div {
        display: none;
    }
}

@media only screen and (max-width: 835px) {
    .uppercase {
        width: 100%;
    }
}

@media only screen and (max-width: 835px) {
    .content button {
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {
    .down-content .text {
        display: flex;
        flex-direction: column;
    }

    .hero-section {
        height: fit-content;
    }

    .hero-section .content {
        width: 100%;
        padding: 20px;
    }

    .content-2,
    .content-3,
    .content-4 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        border-top: 0.5px solid var(--white);
    }
}

/* Feature Section */
.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    margin-top: 7%;
    margin-bottom: 5%;
    padding-right: 30px;
    padding-left: 30px;
}

.feature .news h3 {
    color: var(--black);
    text-transform: capitalize;
    font-size: 46px;
}

.feature .recent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.feature .recent h5 {
    color: var(--black);
    text-transform: capitalize;
    font-size: 28px;
}

.feature .recent i {
    background-color: var(--red);
    border-radius: 50%;
    color: var(--white);
    font-size: 16px;
    padding: 2px 3px;
}

/* Feature Pics */
.feature-pics {
    display: grid;
    grid-template-columns: 230px 240px 270px 270px;
    grid-template-rows: 230px 230px;
    gap: 15px;
    padding-right: 7%;
    padding-left: 7%;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.pic-1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(./NASA-pictures/feature-1.png);
    background-size: cover;
    background-position: center;
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.pic-2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(./NASA-pictures/feature-2.png);
    background-size: cover;
    background-position: center;
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.pic-3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(./NASA-pictures/feature-3.png);
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.pic-4 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(./NASA-pictures/feature-4.png);
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.pic-1 .top i,
.pic-2 .top i,
.pic-3 .top i,
.pic-4 .top i {
    color: var(--white);
    font-size: 12px;
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 1% 1%;
    margin: 5%;
    margin-right: 0%;
}

.pic-1 .top p,
.pic-2 .top p,
.pic-3 .top p,
.pic-4 .top p {
    color: var(--white);
    font-size: 26px;
    text-transform: uppercase;
}

.pic-1 .bottom p,
.pic-2 .bottom p,
.pic-3 .bottom p,
.pic-4 .bottom p {
    color: var(--white);
    font-size: 20px;
    margin: 5%;
    margin-bottom: 0%;
    text-transform: uppercase;
}

.pic-1 .bottom h5,
.pic-2 .bottom h5,
.pic-3 .bottom h5,
.pic-4 .bottom h5 {
    color: var(--white);
    font-size: 28px;
    margin: 5%;
    margin-top: 0%;
}

@media only screen and (max-width: 990px) {
    .feature-pics {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 250px 200px 200px;
        gap: 15px;
    }

    .pic-1 {
        grid-column: span 2;
        grid-row: span 1;
    }

    .pic-2 {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .pic-3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .pic-4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .pic-1 .top i,
    .pic-2 .top i,
    .pic-3 .top i,
    .pic-4 .top i {
        color: var(--white);
        font-size: 8px;
        border: 1px solid var(--white);
        border-radius: 50%;
        padding: 1% 1%;
        margin: 5%;
        margin-right: 0%;
    }

    .pic-1 .top p,
    .pic-2 .top p,
    .pic-3 .top p,
    .pic-4 .top p {
        color: var(--white);
        font-size: 16px;
        text-transform: uppercase;
    }

    .pic-1 .bottom p,
    .pic-2 .bottom p,
    .pic-3 .bottom p,
    .pic-4 .bottom p {
        color: var(--white);
        font-size: 14px;
        margin: 5%;
        margin-bottom: 0%;
        text-transform: uppercase;
    }

    .pic-1 .bottom h5,
    .pic-2 .bottom h5,
    .pic-3 .bottom h5,
    .pic-4 .bottom h5 {
        color: var(--white);
        font-size: 20px;
        margin: 5%;
        margin-top: 0%;
    }
}

/* Bottom Features */
.bottom-feature {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
    margin-top: 3%;
}

.feature-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 24.3%;
    cursor: pointer;
}

.feature-card img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.feature-card .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.feature-card .text .duration p {
    color: var(--black);
    font-size: 14px;
    text-transform: uppercase;
}

.feature-card .text .h5 {
    width: 100%;
}

.feature-card .text .h5 h5 {
    color: var(--black);
    font-size: 16px;
}

.feature-card .text .article {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.feature-card .text .article i {
    color: var(--black);
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 3px;
    border: 0.5px solid var(--black);
    padding: auto;
}

.feature-card .text .article p {
    color: var(--black);
    font-size: 14px;
    text-transform: uppercase;
}

@media only screen and (max-width: 990px) {
    .bottom-feature {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 15px;
    }

    .feature-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .feature-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .feature-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .feature-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .feature-card .text .h5 h5 {
        color: var(--black);
        font-size: 14px;
        width: 370px;
        width: 370%;
    }
}

@media only screen and (max-width: 990px) {
    .feature-card .text .h5 h5 {
        color: var(--black);
        font-size: 14px;
        width: 370px;
        width: 320%;
    }

    .feature-card .text .h5 {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .bottom-feature {
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 25px;
        margin-bottom: 20%;
    }

    .feature-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .feature-2 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .feature-3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .feature-4 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .feature-card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .feature-card .text .h5 h5 {
        color: var(--black);
        font-size: 14px;
        width: 530%;
        text-align: start;
    }

    .feature-card .text .h5 {
        width: 80%;
    }
}

/* ADVANCE NASA */
.advance-nasa {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(./NASA-pictures/advance-bg-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0px 20px;
    padding-left: 7%;
    margin-top: 7%;
}

.advance-nasa .top h4 {
    color: var(--white);
    font-size: 50px;
    text-transform: capitalize;
    width: 50%;
    padding-top: 35%;
}

.advance-nasa .mid p {
    color: var(--white);
    font-size: 26px;
    width: 55%;
    text-align: start;
}

.advance-nasa .bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.advance-nasa .bottom h4 {
    color: var(--white);
    font-size: 28px;
    width: fit-content;
    text-align: start;
}

.advance-nasa .bottom i {
    color: var(--white);
    font-size: 16px;
    border-radius: 50%;
    padding: 2px 3px;
    background-color: var(--red);
}

@media only screen and (max-width: 990px) {
    .advance-nasa .top h4 {
        color: var(--white);
        font-size: 45px;
        text-transform: capitalize;
        width: 100%;
        padding-top: 35%;
    }

    .advance-nasa .mid p {
        color: var(--white);
        font-size: 22px;
        width: 100%;
        text-align: start;
    }

    .advance-nasa .bottom h4 {
        color: var(--white);
        font-size: 24px;
        width: fit-content;
        text-align: start;
    }
}

@media only screen and (max-width: 890px) {
    .advance-nasa {
        background-color: linear-gradient(to right, black, black), ;
    }
}

/* NASA MISSION */
.nasa-mission {
    width: 100%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.nasa-mission .more {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: fit-content;
    margin-left: 85%;
}

.nasa-mission .more i {
    color: var(--white);
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 3px;
    background-color: var(--red);
}

.nasa-mission .more p {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}

.nasa-mission .heading h2 {
    color: var(--black);
    font-size: 50px;
    text-transform: capitalize;
    padding-left: 5%;
}

/* NASA MISSION IMAGES */
.nasa-mission-images {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px 20px;
}

.nasa-mission-images .card {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
}

.nasa-mission-images .card-1 {
    background-image: url(./NASA-pictures/nasa-mission-pic-1.jpg);
    background-size: cover;
    background-position: center;
}

.nasa-mission-images .card-2 {
    background-image: url(./NASA-pictures/nasa-mission-pic-2.jpg);
    background-size: cover;
    background-position: center;
}

.nasa-mission-images .card-3 {
    background-image: url(./NASA-pictures/nasa-mission-pic-3.jpg);
    background-size: cover;
    background-position: center;
}

.nasa-mission-images .card-4 {
    background-image: url(./NASA-pictures/nasa-misson-pic-4.jpg);
    background-size: cover;
    background-position: center;
}